version: "3.9"
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file: ../.env.example
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ../backend
    env_file: ../.env.example
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build:
      context: ../frontend
    depends_on:
      - backend
    env_file: ../.env.example
    ports:
      - "80:80"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:8
    env_file: ../.env.example
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  pgdata:
